/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: #fff;
  --text-primary: #000;
  --text-secondary: #8e05c2;
  --accent: #8e05c2;
  --border: #333;
  --form-bg: #fff;
  --primary: #9e2a2b;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

body {
  font-family: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: all 0.5s;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  width: 300px;
  margin: 15% auto;
  box-shadow: 0px 0px 12px var(--border);
  border-radius: 8px;
  background: var(--form-bg);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  margin: 8px 0;
  margin-right: 200px;
  font-weight: 600;
  border: none;
  background: var(--background-color);
}

input {
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: 1px solid var(--border);
  background: var(--background-color);
  color: var(--text-primary);
  outline: none;
}

button {
  background: var(--primary);
  border: none;
  color: #fff;
  margin: 16px 0;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}
.option button {
  width: 100%;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid;
  border-radius: 10px;
  color: var(--primary);
  background-color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 430px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 300px;
    margin: 15% auto;
    box-shadow: 0px 0px 12px var(--border);
    border-radius: 8px;
    background: var(--form-bg);
  }
} 


.login-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid red;
  margin: 0 auto;
  margin-top: 10%;
  padding: 20px;
  position: relative;
}
.login-container > img {
  height: 700px;
  width: 384px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 300px;
  background-color: white;
  position: absolute;
  top: 150px;
  left: 90px;
}

.login-input {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}
.login-input label {
  display: flex;
  justify-content: start;
}
.login-input input {
  border-bottom: 1px solid rgb(184, 177, 177);
  width: 200px;
  outline: none;
  margin-top: -10px;
}
.form-container {
  height: 700px;
  width: 384px;
  margin-top: 20px;
  background: #043b22;
  margin: 20px;
}

.bottom-bg {
  background: #52c66e;
  clip-path: polygon(0 78%, 0 100%, 100% 100%, 100% 53%, 0 28%, 0 0);
  height: 100%;
  width: 100%;
}

.form > button {
  background: #043b22;
  color: white;
  width: 200px;
  padding: 10px;
  border-radius: 20px;
}

.option > button {
  color: #043b22;
  background-color: white;
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #043b22;
}

.option {
  padding: 30px;
}
.option p {
  text-align: center;
  margin-bottom: 20px;
}

/* @media screen and (max-width: 945) {
  .form {
    position: absolute;
    top: 150px;
    left: 330px;
  }
} */

/* default iphone screens */
/* @media only screen and (device-width: 430px) {
  .form {
    position: absolute;
    top: 150px;
    left: 65px;
  }
} */

/* default pixel screens */

/* @media only screen and (device-width: 412px) {
  .form {
    position: absolute;
    top: 150px;
    left: 55px;
  }
} */
/* @media only screen and (min-width: 490px) {
  .form {
    position: absolute;
    top: 150px;
    left: 160px;
    width: 50%;
  }
} */
